server:
  port: 8083

spring:
  application:
    name: format-a-service
  datasource:
    url: jdbc:postgresql://localhost:5432/formatoadb
    driverClassName: org.postgresql.Driver
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

user:
  service:
    url: http://user-service/api/users
feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
        loggerLevel: basic

logging:
  level:
    co.unicauca.formata: DEBUG
    org.springframework.cloud.openfeign: DEBUG

format-a:
  storage:
    path: ./storage/formata
    max-size-bytes: 5242880