server:
  port: 8081

spring:
  application:
    name: auth-service

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

jwt:
  secret: mi-clave-secreta-muy-segura-para-el-proyecto-de-grado-2025-fiet-unicauca
  expiration: 86400000

logging:
  level:
    co.unicauca.auth: DEBUG